<html>
    <header>

    </header>
    <body>
        <a href="{% url 'create_workout' %}">
            <button>
                Create
            </button>
        </a>
        {% for activity in object_list %}
            <div>{{ activity.type_verbose }}</div>
            <div>{{ activity.time_verbose }}</div>
            <div>{{ activity.day }}</div>
            <a href="{% url 'edit_workout' activity.id %}">
                <button>
                    Edit
                </button>
            </a>
            <a href="{% url 'delete_workout' activity.id %}">
                <button>
                    Delete
                </button>
            </a>
            <br /> <br />
        {% endfor %}
    </body>
</html>